h1:not(#movie__title),
h2,
h3 {
  background: linear-gradient(120deg, #330d69, #30c9cd);
  filter: brightness(1.5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  @apply font-[Rajdhani-bold] text-4xl;
}

#movie__title {
  background: linear-gradient(120deg, #22d3ee, #164e63);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: max-content;
}

h2 {
  @apply font-[Rajdhani-bold] text-3xl;
}

h3 {
  @apply font-[Rajdhani-bold] text-2xl;
}

h4 {
  @apply font-[Rajdhani-semiBold] text-blue-500 text-xl;
}

p {
  @apply font-[Rajdhani-regular] text-cyan-100;
}

hr {
  @apply bg-sky-300 h-[1px] border-none;
}

.blurring__title--primary {
  @apply absolute bottom-0 left-0 text-[20px] md:text-[18px] lg:text-[16px] w-full bg-cyan-900 bg-opacity-50 backdrop-blur-sm;
}

.blurring__title--secondary {
  @apply absolute bottom-0 left-0 text-[20px] md:text-[18px] lg:text-[16px] w-full bg-indigo-900 bg-opacity-50 backdrop-blur-sm;
}
